$bgcolor: lightblue;

.label {
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #363636 !important;
  margin-bottom: 0 !important;
}

.result {
  color: red;
}

.calendar {
    display: flex;
    align-items: center;
    height: 50px;
}
.item__text{
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #363636;
width: 350px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.card__link{
  font-family: Montserrat !important;
font-size: 16px !important;
font-style: normal;
font-weight: 700 !important;
line-height: 24px !important;
letter-spacing: 0em;
text-align: left;
color: #363636 !important;

}

.mr-2{
  margin-right: 5px;
}
.bg-yellow{
  background-color: yellow;
}









.detailed__top{
  height: 245px;
  background-repeat: no-repeat;
  background-size: cover;
}











.detailed__body{

position: relative;
width: 100%;
 top: -150px;

background: #FFFFFF;
border: 1px solid #EAEAEA;
box-sizing: border-box;
box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
border-radius: 5px;
min-height: calc(100vh - 300px);
}

.detailed__back{
  display: inline-block;
  border: none;
   margin: 0;
  text-decoration: none;
  background: inherit;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 
}
.ml-2{
  margin-left: 5px;
}








.anchor-none{
  text-decoration: none;
}















@media only screen and (max-width: 700px) {
.search__input{
  width: 100% !important;
}
}

@media only screen and (max-width: 600px) {
  .cardGrid{
    display: flex;
    justify-content: center;
  }
  }
  


